.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

/tests/browser/errorShots/
/tests/unit/coverage/

/tests/browser/tests/testdata/actual/*

!/tests/browser/tests/testdata/actual/search-results/
/tests/browser/tests/testdata/actual/search-results/*
!/tests/browser/tests/testdata/actual/search-results/.commit-empty-directory

!/tests/browser/tests/testdata/actual/preview-pane/
/tests/browser/tests/testdata/actual/preview-pane/*
!/tests/browser/tests/testdata/actual/preview-pane/.commit-empty-directory

/tests/browser/tests/testdata/diffs/*

!/tests/browser/tests/testdata/diffs/preview-pane/
/tests/browser/tests/testdata/diffs/preview-pane/*
!/tests/browser/tests/testdata/diffs/preview-pane/.commit-empty-directory

!/tests/browser/tests/testdata/diffs/search-results/
/tests/browser/tests/testdata/diffs/search-results/*
!/tests/browser/tests/testdata/diffs/search-results/.commit-empty-directory
